# Tree Fun Notebook

## Developed by CA

In [ ]:
# This notebook is used as an introduction to Python's basic libraries and functions

In [4]:
# Use the print function to display text
print("Hi guys!")
print("Welcome to the tree fun notebook.")

Hi guys!
Welcome to the tree fun notebook.

In [17]:
# Define a function to print the input
def printme(str):
    print(str)
    return

printme("Trees are woody perennial plants with a single main stem.")

Trees are woody perennial plants with a single main stem.

In [16]:
# Define a function to sum 3 numbers
# The forest land coverage in 2012 in the US, in millions of acres, can be obtained by
# summing the regional North, South, and West coverages
def treesum(w, x, y):
    # w is the land cover, in millions of acres, for the Northern Region
    # x is the land cover, in millions of acres, for the Southern Region
    # y is the land cover, in millions of acres, for the Western Region
    z = w + x + y
    # z is the total forest land coverage in the U.S., in millions of acres
    treecover = ("In 2012, trees covered " + str(z) + " million acres in the US.")
    return treecover;

print(treesum(176, 245, 346))

In 2012, trees covered 767 million acres in the US.

In [20]:
# Let's count some trees
# Which number are we at?
def numba(n):
    for x in range(0, n):
        print("We're at number " + str(x)+ ".")

In [21]:
numba(3)

We're at number 0.
We're at number 1.
We're at number 2.

In [24]:
# Let's grow some trees
# What are your favorite types of trees?
treelist = ["fir", "elm", "maple", "pine", "aspen", "oak"]
def treegen(n):
    for x in range (0,n):
        print (treelist[x])

In [25]:
treegen(5)

fir
elm
maple
pine
aspen

In [27]:
# Let's randomly pick a tree from our list
import random
print(random.choice(treelist))

aspen

In [106]:
# Quick! I need a visual of a tree...
from PIL import Image

def opensesame(image):
    myImage = Image.open(image);
    myImage.show();
    
image = 'aspen.jpg'
opensesame(image)

In [116]:
# Let's generate a dataframe with tree names, facts, and pictures
import pandas as pd
df = pd.DataFrame(data={'Name': ["fir", "elm", "maple", "pine", "aspen", "oak"],
                        'Fact': ['Some noble firs live to be 700 years old!', 
                                 'The American elm has experienced a rapid decline due to Dutch elm disease.',
                                'The genus of maple trees is "Acer."',
                                'Pine trees are the most common conifers, with over 100 species worldwide.',
                                'Aspens are the principle food of beavers.',
                                'Oak trees can reach 70 feet in height and 9 feet in width!'],
                        'Pic': ['douglas_fir.jpg', 'american-elm-2.jpg','sugar_maple.jpg', 'python.jpg',
                                'aspen.jpg','angel-oak-tree-3.jpg']})
df

,Name,Fact,Pic
0,fir,Some noble firs live to be 700 years old!,douglas_fir.jpg
1,elm,The American elm has experienced a rapid decli...,american-elm-2.jpg
2,maple,"The genus of maple trees is ""Acer.""",sugar_maple.jpg
3,pine,"Pine trees are the most common conifers, with ...",python.jpg
4,aspen,Aspens are the principle food of beavers.,aspen.jpg
5,oak,Oak trees can reach 70 feet in height and 9 fe...,angel-oak-tree-3.jpg

In [109]:
# Let's randomly select a tree name from the dataframe
rand = random.choice(df.Name)
print(rand)

aspen

In [110]:
# Select the row corresponding to the random entry
selection = df.loc[df['Name'] == str(rand)]
selection

    Name                                      Fact        Pic
4  aspen  Aspens are the principle food of beavers  aspen.jpg

In [39]:
# Display the shape of the dataframe
df.shape

(6, 3)

In [40]:
# Display the information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
Name    6 non-null object
Fact    6 non-null object
Pic     6 non-null object
dtypes: object(3)
memory usage: 224.0+ bytes

In [119]:
# Let's randomly generate a tree picture!

def treefun():
    #Start by grabbing the length of the dataframe
    x = len(df.index)
    #print(x)

    #Next, create an array 0 to n based on that length
    a = range(x)
    #print(a)

    #Then, randomly select an index value
    r = random.choice(a)
    #print(r)

    #Pull that entry from the dataframe
    pic = df.iloc[r]['Pic']
    #print(pic)

    #Print the fun fact!
    fact = df.iloc[r]['Fact']
    print("Did you know...")
    print(fact)

    #And, finally, open up the picture!
    opensesame(pic)

In [132]:
# Have fun with trees!
treefun()

Did you know...
Pine trees are the most common conifers, with over 100 species worldwide.

In [126]:
#